<div class="col-xs-12 col-sm-6 col-md-3 well text-center authorinfo">
	<div class="row">
		<div class="col-md-1"><img class="gravatar" src=""/></div>
		<div class="col-md-11"><h1 class="autojson text-center" data-autojson="authorname"></h1></div>
	</div>

	<table class="table table-condensed text-left">
		<tr>
			<td>Total commits:</td>
			<td class="autojson" data-autojson="commits"></td>
		</tr>
		<tr>
			<td>Files added:</td>
			<td class="autojson" data-autojson="touched.A"></td>
		</tr>
		<tr>
			<td>Files deleted:</td>
			<td class="autojson" data-autojson="touched.D"></td>
		</tr>
		<tr>
			<td>Files modified</td>
			<td class="autojson" data-autojson="touched.M"></td>
		</tr>
		<tr>
			<td>Files replaced</td>
			<td class="autojson" data-autojson="touched.R"></td>
		</tr>
	</table>
</div>